:root {
    --bg-gray: #f3f3f3;
    --primary-bg: #2ab540;
}

.bd-sticky {
    background-color: #fff !important;
}

main {
    padding-top: 0;
}

//Header-Footer CSS starts here
.ss-header {
    padding: 15px 55px;
    position: static;

    .header-logo {
        img {
            width: 150px !important;
        }
    }

    button.close-btn {
        display: none;
    }

    .header-menu {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 50px;

        .main-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;

                a {
                    padding: 0;
                    margin: 0;
                    font-size: 14px;
                    font-weight: bold;
                }
            }

        }
    }
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
}

.ss-footer {
    border-radius: 18px;
    position: relative;
    background: #2ab540!important;

    .leftside-footer {
        width: 47%;
        padding: 0 51px 0 0;
    }

    .rightside-footer {
        display: flex;
        flex-wrap: nowrap;
        gap: 16px;
        padding-right: 13%;

        .luggage-icon {
            width: 250px;
            height: 250px;
            position: absolute;
            right: 0;
            bottom: 46px;
        }
    }



    p {
        font-size: 25px;
        font-weight: 400 !important;
        color: #fff;

    }

    h3,
    a {
        color: #fff;
        font-weight: 700;
    }

    h3 {
        font-size: 24px;
    }

    a {
        font-size: 17px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 52px;
            height: .5px;
            background-image: linear-gradient(to right, #fff 50%, transparent 50%);
            background-size: 3px 1px;
            background-repeat: repeat-x;
            opacity: 1;
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: flex-end;

        .policy {
            border-top: 4px solid #fff;
            max-width: 1100px;
            text-align: right;
            margin-top: -24px;
            padding-top: 7px;
        }

        a,
        p {
            font-size: 13px !important;
            font-weight: 400;
            &::after{
                display: none;
            }
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: flex-end;

        >div {
            max-width: 1150px;
            align-items: center;
            width: 100%;
            display: flex;
            justify-content: space-around;

            p {
                font-size: 14px;
            }
        }
    }

    .divider {
        max-width: 1150px;
        float: right;
    }
}

//Header-Footer CSS ends here


.text-heading {
    display: flex;
    align-items: center;
    gap: 2rem;

    h6 {
        min-width: fit-content;
        font-weight: 400;
    }

    img {
        width: inherit;
    }
}

.dec-img {
    margin-right: -130px;
}


.slick-prev,
.slick-next {
    background: url("../../public/index/arrow.png") !important;
    background-color: #fff !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 88% !important;
    width: 51px !important;
    height: 53px !important;
    border-radius: 50%;
    right: -80px !important;
    z-index: 1;

    &::before {
        display: none;
    }
}

.slick-prev {
    left: -80px !important;
    transform: translate(0, -50%) rotate(180deg) !important;
}

.text-content {
    max-width: 1030px;
    margin: auto;

    h2 {
        font-size: 33px;
        color: var(--primary-bg);
        width: max-content;
    }

    p {
        width: max-content;
    }

    .bulb {
        width: 80px !important;
    }

    .left-side {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: row;

        .div {
            width: fit-content;
        }

        img.bottom-line {
            max-width: 550px;
        }
    }
}

//Home Page css starts

.ss-location {
    .saltstayz-search-box {
        background: var(--bg-gray);
    }

    // .input-grp {
    //     border: 0;
    //     border-radius: 19px;
    //     background: #fff;
    //     display: flex;
    //     gap: 0;
    //     flex-direction: column;
    //     justify-content: flex-start;
    //     align-items: flex-start;
    //     padding: 5px 10px;
    //     height: 57px;
    //     position: relative;
    // }
    // .select-input{
    //     display: flex;
    //     align-items: baseline;
    //     background: rgba(0,0,0,0);
    //     border: 0;
    //     box-shadow: none;
    //     outline: 0;
    //     padding: 0;
    //     position: absolute;
    //     height: 60px;
    //     padding-top: 31px;
    //     top: 0;
    // }

}

.ss-location {
    background: var(--primary-bg);
    padding: 2rem 0;
}

.ss-search {
    padding: 2rem 0;

    .saltstayz-search-field {
        position: relative;
        width: fit-content;

        label {
            margin-top: 5px;
            font-size: 13px;
            color: #333;
            position: absolute;
            top: 5px;
            left: 12px;
        }
    }

    .saltstayz-datepicker {
        padding: 10px 12px;
        padding-top: 42px;
        padding-bottom: 18px;
        font-size: 13px;
        border-radius: 19px;
        background: #fff;
        border: 0;
        max-width: 170px;

        &::placeholder {
            font-size: 13px;

        }
    }

    .saltstayz-select {
        padding: 10px 12px;
        padding-top: 30px;
        padding-bottom: 11px;
        font-size: 13px;
        border-radius: 19px;
        background: #fff;
        border: 0;
        min-width: 350px;
    }

    .saltstayz-search-box {
        background-color: var(--bg-gray);
        border-radius: 25px;
        padding: 4rem;
        max-width: 1200px;
        margin: auto;
    }

    .saltstayz-book-now-btn {
        width: 253px;
    }

    .saltstayz-book-now-btn {
        width: 253px;
        min-height: 60px;
        border-radius: 19px;
    }

    .saltstayz-flash-btn {
        border-radius: 19px;
    }

    .flash-text {
        span {
            font-size: 12px !important;
            text-align: center;

            &:last-child {
                font-style: italic;
            }
        }
    }
}

.ss-city-slider {
    padding-top: 2rem;
    border-bottom: 5px solid #d9d9d9;
    padding-bottom: 0;
    position: relative;

    .slick-slider {
        max-width: 1030px;
        margin: auto;
    }

    .slick-slide {
        img {
            display: block;
            width: 50px;
            height: 50px;
            margin: auto;
        }
    }

    .img-bg {
        background-size: 59% !important;
        background: url("../../public/index/vectorimg.svg");
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.6;
    }

    .city {
        background-color: transparent;

        h5.card-title {
            margin: 0;
            font-size: 10px;
            font-weight: 400;
        }
    }

    img.trollybag {
        width: 100px;
        float: right;
        position: absolute;
        right: 50px;
        top: 1px;
    }

}


.ss-showProperties {
    padding: 10px;

    .slick-slider {
        padding-top: 30px;
        max-width: 1030px;
        margin: auto;

        .city {
            display: flex;
            flex-direction: column;

            .img-bg {
                position: relative;
                padding-bottom: 10px;

                .badge {
                    background: #cca400;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    border-radius: 36px;
                    padding: 6px;
                    letter-spacing: 2.5px;
                }

                img {
                    border-radius: 50px;
                    height: 276px;
                }
            }

            p.card-title {
                text-align: center;
                font-size: 14px !important;
                color: #3d4043;
            }

            h5.card-title {
                color: #a6a6a6;
                text-align: center;
                font-size: 16px;
                font-weight: 400;

                span {
                    color: #000;
                }

            }

            img.bottom-line {
                height: 5px !important;
                margin-bottom: 5px;
            }


            p.card-title {
                text-align: center;
                font-size: 14px !important;
                color: #000;
            }
        }
    }
}


.ss-deals {
    position: relative;

    .rightside-vector {
        position: absolute;
        top: -50px;
        width: 150px;
        right: 50px;
    }

    .text-content {
        padding-left: 50px;
    }

    .slick-slider {
        padding-top: 30px;
        max-width: 1030px;
        margin: auto;

        .deal-card {
            background: var(--primary-bg);
            border-radius: 19px;
            min-height: 200px;

            .img-bg {
                position: relative;
                min-height: 180px;
                overflow: hidden;

                img {
                    position: absolute;
                    border-radius: 0 0 176px 0;
                    left: -29px;
                    width: 89%;
                    height: 150px;
                }

                .badge {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    padding: 0 20px;
                    width: 85px;
                    height: 86px;
                    border-radius: 50%;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        font-size: 20px;
                        white-space: break-spaces;
                        text-align: left;
                        line-height: 1;
                        color: #4fb600;
                        text-transform: uppercase;
                        font-weight: 700;
                        padding-left: 10px;
                    }

                    span {
                        color: #000;
                        font-size: 29px;
                        font-weight: 900;
                    }
                }

                .badge-salt {
                    padding: 2px 5px;
                    position: absolute;
                    background: #fff;
                    font-size: 12px;
                    top: 10px;
                    left: 10px;
                    background: url("../../public/index/badge-salt.png");
                    background-size: contain;
                }
            }

            h5.card-title {
                min-height: 66px;
                font-size: 19px;
                position: relative;
                bottom: 50px;
                color: #fff;
                text-align: right;
                max-width: 66%;
                float: right;
                padding-right: 12px;
                line-height: 1.1;
            }
        }

    }
}

.hotel-category {
    max-width: 100% !important;



    .header-room {
        position: relative;
        padding-top: 88px;

        .img-container {
            width: inherit;
            height: 217px;
        }

        .primer-bg {
            z-index: -1;
            top: -6px;
            left: 0;
            text-shadow: 2px 2px #393939;

            span {
                margin-top: -81px;
            }
        }


    }

    .category-div {
        margin-left: 80px;
        justify-content: space-between;
        flex-wrap: nowrap;

        .amenity-card {
            width: 140px;
            margin: 0;

            .amenity-bg {
                background-size: 80% !important;
                background: url("../../public/index/vectorimg.svg");
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0.6;
                width: 60px;
                height: 60px;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}


.room-container {
    max-width: 1030px;
    margin: auto;
}

.instafeature {
    max-width: 100%;

    h2 {
        text-align: left;
        width: fit-content;

        &::after {
            left: 0;
            transform: translateX(0);
            width: 100%;
            height: 8px;
            border-radius: 1rem;
            background-color: #4CAF50;
        }
    }

    .leftside {
        margin: auto;
        max-width: 1052px;

        a {
            padding: 2rem 3rem;
            border-radius: 2rem;
            border: 3px solid #4caf50;
            color: #77797b;
            font-size: 1.8rem;
            font-weight: 700;

            img {
                width: 36px;
                height: 36px;
                object-fit: contain;
            }
        }
    }

    .centerside {
        background: url(../../public/index/social-icon.png);
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 447px;
        width: 100%;
        justify-content: flex-end;
        gap: 22px;
        padding-right: 51px;

        button {
            opacity: 0;
        }
    }
}


.ss-destination {
    max-width: 1030px;
    position: relative;
    margin: auto;
    min-height: 250px;
    .destination-img-bg{
        background: url("../../public/index/circle-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 76px;
        width: 333px!important;
        
    }
    ul.destination-nav {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        flex-wrap: wrap;
        list-style: none;
        padding: 20px 0 0 20px;

        li {
            width: 18%;

            a {
                color: #a6a6a6;
                font-size: 18px;
                font-weight: 700;
                display: flex;
            }
        }
    }

    .leftside-vector {
        position: absolute;
        top: -70px;
        left: -180px;
        width: 150px;
        transform: rotate(180deg);
    }

    .rightside-trolly {
        position: absolute;
        right: -200px;
        top: 0;
        width: 450px;
        height: 300px;
    }


}

//Home Page css ends


// Search-Filters css starts here
.bookNow {
    .text-end {
        display: flex;
        justify-content: end;
        gap: 1rem;
        align-items: center;
        padding-right: 11rem;
    }
}

.ss-search-filters {
    padding-top: 6rem;
    padding: 8rem 0;

    h2 {
        font-size: 34px;
        color: #2ab540;
        font-weight: 700;
    }

    h3 {
        font-size: 25px;
        font-weight: 700;
        color: #3d4043;
        margin: 4rem 0 2.5rem 0;
    }

    .searchfilters {
        padding-left: 5rem;

        .form-check-label {
            position: relative;
            position: relative;
            font-size: 20px;
            color: #3d4043;
            font-weight: 400;
            padding-bottom: 1.5rem;
            gap: 1rem;

        }

        .checkbox-input {
            width: 25px;
            height: 25px;
            border: 2px solid black;
            display: inline-block;
            position: relative;
            border-radius: 3px;

            &::before {
                content: '';
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border: 2px solid black;
                height: 100%;
                border-radius: 4px;
            }
        }

        span {
            position: absolute;
            left: 4px;
            top: 2px;
            font-size: 16px;
            color: black;
        }

        .form-control {
            width: fit-content;
            padding: 7px 2px;
            height: fit-content;
            text-align: center;
            border: 1px solid #9e9e9e;
            border-radius: 10px;

            &::-webkit-inner-spin-button {
                display: none !important;
            }
        }

        .form-range {
            max-width: 215px;

            &::-webkit-slider-runnable-track {
                height: 0.1rem;
                background-color: #77797b;
            }

            &::-webkit-slider-thumb {
                width: 3rem;
                height: 3rem;
                margin-top: -1.5rem;
                background: #2ab540;
                border-radius: 50%;
                outline: 0 !important;
            }
        }
    }

    .hotel-card {
        border: 1px solid #ababab;
        border-radius: 3rem;
        margin-bottom: 3rem;

        .col-md,
        .col-md-3 {
            height: 100%;
        }

        h3 {
            color: #58595b;
            font-size: 18px;
            margin: 5px 0 14px;
        }

        h2 {
            font-size: 30px;
        }

        .center-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 5px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
                width: 33%;
                font-size: 10px;
                position: relative;
                list-style: none;
                padding-left: 18px;
                text-align: left;

                &::before {
                    width: 11px;
                    height: 11px;
                    font-size: 20px;
                    display: flex;
                    content: "";
                    background-color: #2ab540;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                }
            }
        }

        .facilities {
            display: flex;
            gap: 12px;
            align-items: center;
            margin: 20px 0;

            .fac {
                display: flex;
                gap: 8px;
                align-items: center;

                img {
                    width: 16px;
                }

                p {
                    font-size: 12px;
                    color: #000;
                }
            }
        }

        .more-details {
            margin-bottom: 15px;

            .fac {
                display: flex;
                gap: 8px;
                align-items: center;

                img {
                    width: 12px;
                }

                p {
                    font-size: 14px;
                    color: #58595b;
                }
            }
        }

        .details {
            font-size: 10px;
            color: #58595b;
            line-height: 1.2;
        }

        .rightside {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-left: 1px solid #00000055;
            padding: 5px;
            gap: 5px;
        }

        .rating {
            color: #77797b;
            font-size: 32px;
            font-weight: 700;
            margin: 0;
        }

        .prev-price {
            color: #9e9e9e;
            font-size: 32px;
            font-weight: 700;
            text-align: left;
            width: 100%;

            span {
                text-decoration: line-through;

            }
        }

        .current-price {
            font-size: 32px;
            text-align: left;
            width: 100%;
        }

        .tax {
            color: #9e9e9e;
            font-size: 17px;
            text-align: left;
            margin-bottom: 20px !important;
            width: 100%;

        }

        .further-detail {
            color: #2ab540;
            font-size: 9px;
            line-height: 1.3;
            margin: 0;
        }

        a.bookBtn {
            padding: 10px 30px;
            background: #2ab540;
            border-radius: 5px;
            color: #fff;
        }
    }



}

.gallery-img {
    padding: 5px;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;

    .selected-img {
        border-radius: 3rem;
        height: 200px;
        width: 100%;
    }

    .img-thumbnail {
        max-width: 113px;
        border-radius: 1rem;
        cursor: pointer;
    }

    .badge {
        position: absolute;
        left: 20px;
        top: 14px;
        background: #cca400;
        border-radius: 14px;
        padding: 6px 10px;
    }
}

// Search-filters css ends here


.day-use-room {

    .bookNow {
        padding-top: 3rem;
    }

    .text-end {
        padding-right: 0;

    }

    .header-div {
        padding-bottom: 3rem;

        .bottom-div {
            padding-left: 2rem;
        }
    }

    .hotel-room-cards {
        .hotel-card {
            border: 1px solid #ababab;
            border-radius: 3rem;
            margin-bottom: 3rem;

            h2 {
                font-size: 15px;
                color: #4e8a00;
                text-align: center;
            }

            p {
                font-size: 12px;
                line-height: 1.4;
            }

            .more-details {
                text-align: center;
                margin: 0.5rem 0;
            }

            h2.current-price {
                text-align: left;
                margin: 1rem 0;
            }

            .prev-price {
                color: #9e9e9e;
                font-size: 16px;
                text-align: left;
            }

            .tax {
                color: #9e9e9e;
                font-size: 13px;
                text-align: left;
            }

            .gallery-img {
                border-radius: 2rem;
                position: relative;

                .badge {
                    position: absolute;
                    right: 20px;
                    top: 14px;
                    border-radius: 14px;
                    padding: 4px 10px;
                    font-size: 10px;
                    width: fit-content;
                }

                .info-badge {
                    background: #cca400;

                }

                img {
                    border-radius: 3rem;
                    height: 200px;
                }
            }

            .bookBtn {
                h2 {
                    text-align: right;
                    font-size: 13px;
                }

            }

            .center-div {
                padding: 1rem 0;
                padding-right: 2rem;
            }

        }
    }




    .text-content {
        .bulb {
            width: 32px !important;
        }

        h2 {
            font-size: 26px;
        }

        img.bottom-line {
            max-width: 412px;
        }
    }


    .homeamenites-row {
        padding-bottom: 4rem;
        max-width: 1215px;
        margin: auto;

        strong {
            font-size: 15px;
            font-weight: 700;
            color: #77797b;
        }

        ul {
            padding-top: 1.5rem;
            padding-left: 1rem;

            li {
                margin-bottom: 0.6rem;
                font-size: 13px;
                color: #77797b;

            }
        }
    }

    .hotel-room-cards {
        max-width: 1215px;
        margin: auto;
        padding-top: 4rem;
    }



    .adult-dropdown {
        label {
            text-align: center;
            width: 100%;
            max-width: 155px;
        }

        .saltstayz-select {
            min-width: 180px;
            text-align: center;
        }
    }

    input.saltstayz-datepicker {
        min-width: 350px !important;
    }

}


.homeAmenities {
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 2rem;
    padding: 2rem;

    ul {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        li {
            list-style: none;
            text-align: center;
            width: 100%;

            .amenties-bg {
                background: url("../../public/index/vectorimg.svg");
                background-size: 46%;
                background-position: center;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                position: relative;

            }

            img {
                width: 33px;
                position: relative;

            }

            p {
                font-size: 11px;
                line-height: 1.1;
                color: #18433f;
                font-weight: 400;
            }
        }
    }
}

.header-div {
    max-width: 100%;

    h2 {
        font-size: 55px !important;
        font-weight: 400;
    }

    .bulb {
        width: 80px !important;
    }

    img.bottom-line {
        max-width: 100% !important;
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 1rem;

        li {
            font-size: 13px;
            list-style: none;
            color: #3d4043;
            position: relative;
            padding-left: 23px;
            font-weight: 400;

            &::before {
                width: 16px;
                height: 16px;
                font-size: 20px;
                display: flex;
                content: "";
                background-color: #2ab540;
                border-radius: 50%;
                position: absolute;
                left: 0;
            }
        }
    }
}

.hotel-room-detail {
    h1 {
        font-size: 44px;
        max-width: 811px;

        span {
            color: #58595b;
            font-weight: 400;
            font-size: 44px !important;

        }
    }

    p {
        font-size: 20px;
        line-height: 1.8;
        color: #58595b;
        margin: 0;
    }

    .text-gray {
        font-size: 16px;
        color: #77797b;

    }

    .btn-link {
        font-size: 20px;
        line-height: 1.6;
        color: #3d4043;
        font-weight: 800;
        padding: 0;
        text-align: left;
        text-decoration: none;
    }

    .heading-sec {
        display: flex;
        align-items: center;
        gap: 20px;

        .img {
            display: flex;
            flex-direction: column;
            margin-left: 12rem;
        }
    }


}

.btn.view-btn {
    color: #fff;
    background: #2ab540;
    padding: 10px 50px;
    border-radius: 2rem;
    min-width: 300px;
    font-size: 23px;
    font-weight: 800;
}

.amenites-div {
    min-height: 290px;
    padding: 4rem 0;

    .bulb {
        width: 50px !important;
    }

    .bottom-div {
        display: flex;
        align-items: center;
    }

    img.bottom-line {
        max-width: 550px !important;
    }

    h2 {
        font-weight: 600;
        font-size: 42px !important;
    }

    ul {
        margin-top: 2rem;

        li {
            font-size: 13px;
            list-style: none;
            color: #3d4043;
            position: relative;
            padding-left: 0;
            font-weight: 400;
            width: 18%;
            text-align: center;

            &::before {
                display: none;
            }

            p {
                text-align: center;
                max-width: 100%;
                margin: auto;
                margin-top: 10px;
            }
        }
    }

    .amenties-bg {

        background: url("../../public/index/vectorimg.svg");
        background-size: 27%;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;

        img {
            width: 36px !important;
            height: 35px;
            object-fit: contain;
        }
    }
}

.hotel-room-gallery {
    .selected-img {
        height: 100%;
        border-radius: 3rem;
    }

    .img-thumbnail {
        height: 188px;
        max-width: 100%;
        border: 0;
        border-radius: 2rem;
    }

}

.check-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1215px;
    margin: auto;

    .checktime {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    h2 {
        font-size: 24px;
        width: 49%;
        color: #a6a6a6;
        float: left;
        margin-bottom: 10px;
    }

    p {
        font-size: 18px;
        width: 100%;
        color: #a6a6a6;
    }

    img {
        height: 200px;
    }
}

.summary-div {
    h2 {
        font-size: 34px;
        color: #2ab540;
        font-weight: 700;
    }

    .checkin-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        gap: 8px;

        p {
            margin: 0;
            line-height: 1.2;
        }
    }

    .badge {
        font-size: 20px;
        padding: 4px 10px;
        border-radius: 9px;
        width: fit-content;
        display: flex;
        align-items: center;
    }

    .info-badge {
        background: #cca400;
        font-size: 10px;

    }

    .success-badge {
        background: #2ab540;
    }

    .flex-column {
        align-items: flex-start;

        .leftside {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }

    h6 {
        font-size: 1.5rem;
        color: #3d4043;
    }


    h5 {
        font-size: 2rem;
        color: #3d4043;
    }

    .outline-div {
        border: 1px solid #9e9e9e;
        border-radius: 2rem;
    }

    .gray-text {
        color: #77797b;
        margin: 0;
    }

    .br-3 {
        border-radius: 3rem;
    }
}

.meal-selection {
    margin-top: 3rem;
    border: 1px solid #9e9e9e;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .meal-option {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    input[type=radio] {
        opacity: 1;
        position: static;
    }

    img {
        width: 80px;
        height: 65px;
        background: #2ab540;
        object-fit: contain;
        padding: 11px;
        border-radius: 1.5rem;
    }

    h5 {
        font-size: 20px;
        color: #000;
        text-align: center;
    }

    p {
        margin: 0;
        text-align: center;

    }

    del {
        color: #000;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: -8px;
            top: 50%;
            width: 102%;
            height: 1.5px;
            display: flex;
            background: #9e9e9e;
        }
    }

    strong {
        font-size: 16px;
        color: #4e8a00;
        text-align: center;
    }

    .price {
        text-align: center;
        width: 100%;
    }

    button.meal-radio-btn {
        padding: 5px;
        border: 1px solid black;
        height: 20px;
        width: 43px;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.discount-div {
    .discount-coupen {
        padding: 1rem 2rem;
        border: 1px solid #9e9e9e;
        border-radius: 2rem;
        margin-top: 8rem;
        position: relative;
    }

    h5 {
        font-size: 19px;
        color: #000;
        text-align: left;
        margin-bottom: 1rem;

        span {
            color: var(--primary-bg);

        }
    }

    h4 {
        font-size: 23px;
        color: var(--primary-bg);
        text-align: left;
        margin: .5rem 0;
    }

    p {
        color: #77797b;
        text-align: left;
        font-size: 16px;

        span {
            color: var(--primary-bg);
            font-size: 18px;
        }
    }

    .flex-row {
        display: flex;
        gap: 14px;
        align-items: center;
        justify-content: center;
    }

    input[type="checkbox"] {
        display: block;
        width: 50px;
        border: 2px solid #61c871;
        height: 32px;
        border-radius: 50%;
    }


    .scissor-icon {
        width: 30px;
        position: absolute;
        bottom: -10px;
    }

}

.availablity-div {
    padding-right: 4rem;

}

.availablity-details {
    padding: 10px 20px;

    .select {
        text-align: center;
        padding: 0.3rem 3rem;
    }

    .selected {
        background: var(--primary-bg);
        border-radius: 1rem;

        .day,
        .date,
        h6 {
            color: #fff;
        }
    }

    .day,
    .date {
        font-size: 14px !important;
        font-weight: 500;
        color: #3d4043;
    }

    h6 {
        font-size: 1.8rem;
        color: #3d4043;
    }

}

.available-room {
    .hotel-room {
        border-radius: 2rem;
        height: 100%;
    }

    h3 {
        color: var(--primary-bg);
        font-size: 2.5rem;
        text-align: center;
        padding: 1rem 0;
    }

    .off {
        color: var(--primary-bg);
        margin: 0;
        font-weight: 700;
        font-size: 1.7rem;
    }

    .pre-price,
    .tax {
        color: #9e9e9e;
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
    }

    .price {
        color: var(--primary-bg);
        font-size: 3rem;
        font-weight: 600;
        margin: 0;
    }

    .text {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
        align-items: center;
    }


}

.accordion-heading {
    color: #3d4043;
    text-align: right;
    display: flex;
    gap: 7px;
    justify-content: flex-end;
    max-width: 550px;

    span {
        transform: rotate(90deg);
    }
}

.book-now {
    color: #fff;
    background: #2ab540;
    padding: 4px 50px;
    border-radius: 1.5rem;
    font-size: 20px;
    font-weight: 800;
    margin-top: 2rem;
}

.heading-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .saltstayz-search-field {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 8px;
        width: 100%;
        background: var(--primary-bg);
        border-radius: 2rem;
        justify-content: center;
        padding: 1rem 2rem;
        max-width: 325px;

        input {
            border: 0;
            border-radius: 6px;
            font-size: 19px;
            background-color: transparent;
            color: #fff;
            font-weight: 700;
            height: fit-content;
            width: 100%;
            padding: 0;
        }
    }
}

.reservation-div {
    h2 {
        color: #000000;
        font-size: 28px;
        text-align: center;
    }
}

.guest-details-form {
    input {
        height: 45px;
        border: 1.3px solid var(--primary-bg) !important;
        border-radius: 1rem !important;
        margin-bottom: 0.8rem;
    }

    label {
        color: #a6a6a6;
        font-size: 12px;
        margin-bottom: 1rem;
    }

    span {
        color: #58595b;
        font-size: 11px;
    }
}


.btn-row {
    display: flex;
    justify-content: center;
    gap: 4rem;

    .btn-outline {
        border: 1.3px solid var(--primary-bg) !important;
        padding: .4rem 6rem;
        border-radius: 2rem;
        font-size: 14px;
    }

}

.guest-div {
    padding-left: 3rem;
    min-height: fit-content;

    .bottom-div {
        img {
            max-width: 76% !important;
        }
    }

}

.reservation-div {
    h5 {
        font-size: 2.2rem;
        color: #3d4043;
    }

    h6 {
        font-size: 1.8rem;
    }

    .br-3 {
        border-radius: 3rem;
        margin-top: 3rem;

        h6 {
            font-size: 2.2rem;
            color: #3d4043;
        }
    }
}

.google-reviews {
    padding-bottom: 7rem;

    p {
        color: #77797b;
        font-size: 23px;
        margin-top: 0.5rem;
    }

    .bulb {
        width: 58px !important;
    }

}

.google-reviews-slider {
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 65%;
        bottom: -15px;
        left: 0;
        position: absolute;
        background: var(--primary-bg);
    }

    .slick-slide {
        margin-top: 2rem;

        >div {
            margin: 0 3rem;
        }
    }

    .slick-prev,
    .slick-next {
        top: 68%;
        background: url("../../public/index/white-arrow.png") !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: 62% !important;
    }
}


.review-card {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    border: 2px solid var(--primary-bg);
    border-radius: 3rem;
    min-height: 290px;
    background-color: #fff;
    position: relative;
    z-index: 1;

    .user-profile {
        height: 50px;
    }

    .review-user {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 6px;
        margin-bottom: 1.6rem;
    }

    p {
        font-size: 16px;
        margin: 0;
    }

    .review-name {
        color: #3d4043;
    }

    p.description {
        font-size: 13px;
        line-height: 1.6;
        color: #77797b;
        text-align: center;
        font-style: italic;
        margin-bottom: 1rem;
        font-weight: 900;
    }

    p.review-name2 {
        font-size: 13px;
        color: #77797b;
        text-align: center;
        font-weight: 600;
    }

    .user-text {
        margin-top: -2rem;
        margin-left: -0.5rem;
    }

}

.location-detials {
    max-width: 1200px;
    margin: auto;

    .location-head {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 2rem;

        h3 {
            color: var(--primary-bg);
        }
    }

    p,
    strong,
    li {
        margin: 0;
        font-size: 19px;
        color: #77797b;
        line-height: 1.5;
        width: 100%;
        display: block;
        margin-bottom: 1.5rem;

        a {
            color: var(--primary-bg);
        }
    }

    .black-text {
        color: #252525;
    }

    h4 {
        margin-bottom: 2rem;

        span {
            color: var(--primary-bg);
        }
    }

    .leftside-vector {
        position: absolute;
        top: -70px;
        left: -110px;
        width: 200px;
        transform: rotate(180deg);
    }

    .position-relative {
        padding: 1rem 15rem;

        ul {
            border: 1px solid var(--primary-bg);
            border-radius: 2rem;
            padding: 1rem;
            margin-top: 1rem;
            min-height: 192px;
            li {
                margin-bottom: 0;
                position: relative;
                padding-left: 15px;

                &::before {
                    content: "";
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    background-color: #77797b;
                    left: 0;
                    border-radius: 50%;
                    top: 9px;
                }
            }
        }

        ol {
            border: 1px solid var(--primary-bg);
            border-radius: 2rem;
            padding: 1rem;
            margin-top: 1rem;

            li {
                margin-bottom: 0;
            }
        }
    }

    .map {
        border-radius: 2rem;
        overflow: hidden;

        img {
            height: 300px;
            width: 100%;
        }
    }
}

.blog-header {
    h2 {
        font-weight: 500;
    }

    .text-gray {
        font-size: 24px;
        color: #77797b;
    }
}

.blog {
    max-width: 1200px;
    margin: auto;

    .row {
        margin-top: -4rem;

        .col-md-4:nth-child(2) {
            padding-top: 10rem !important;

        }
    }
}

.blogCards {
    max-width: 1030px;
    margin: auto;
    padding-bottom: 6rem;

    .blog-card {
        position: relative;
        border-radius: 2rem;
        overflow: hidden;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: #2b292963;
            position: absolute;
            left: 0;
        }

        img {
            width: 100%;
            height: 375px;
            object-position: top;
        }

        h5 {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 10px 0px;
            text-transform: uppercase;
            font-weight: 800;
            color: #fff;
            font-size: 21px;
            text-shadow: 2px 0px 4px rgba(0, 0, 0, .6509803922);
            text-align: center;
        }

        .top {
            top: 0;
        }

        .special-prefrence {
            color: #fdd835;
            position: absolute;
            top: 0;
            text-align: center;
            width: 100%;
            text-transform: uppercase;
            padding: 10px;
            font-weight: 700;
            z-index: 1;
            text-shadow: 2px 0px 4px #000000a6;
        }
    }
}

.indiagate {
    width: 133px;
    margin-bottom: -5.5rem;
}

.about-details {
    position: relative;

    .rightside-vector {
        position: absolute;
        top: -50px;
        width: 150px;
        right: 50px;
    }

    h1 {
        color: #3d4043;
        font-size: 50px;
        padding-top: 3rem;
        margin-bottom: 4rem;
        position: relative;
        width: fit-content;

        &::before {
            content: "";
            position: absolute;
            bottom: 2px;
            left: 0;
            width: 97%;
            height: 8px;
            background: var(--primary-bg);
            border-radius: 1rem;
            z-index: -1;
        }
    }

    p,
    strong {
        color: #77797b;
        font-size: 22px;
        line-height: 1.5;
    }

    h4 {
        color: var(--primary-bg);
        margin: 3rem 0;
        font-size: 28px;
    }

    .hotelimg {
        width: 100%;
    }
}

.tesimonials {
    padding-bottom: 4rem;

    .testimonials {
        min-height: fit-content;
        padding-bottom: 0;

        .text-gray {
            font-size: 24px;
            color: #77797b;
            margin-top: 0.5rem;
        }

        img.bottom-line {
            max-width: 700px !important;
        }
    }

    .google-reviews-slider {
        &::before {
            display: none;
        }

        .slick-slide {
            margin-top: 0;
        }
       .slick-prev,  .slick-next {
            top: 50%;
            background: url(/index/arrow-icon.png) !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: 30%  !important;
            left: -40px !important;
        }

         .slick-next{
            left: auto !important;
            right: -40px !important;
        }
    }

    .review-card {
        min-height: 200px;
        background-color: var(--primary-bg);

        .user-profile {
            height: 70px !important;
            border-radius: 50% !important;
            width: 70px !important;
            object-fit: cover;
        }

        .user-text {
            margin-top: 0;
            margin-left: 15px;
        }

        p {
            color: #fff !important;
            font-style: normal;
            text-align: left;
        }

        p.review-name {
            font-size: 19px;
            text-align: center;

        }

        p.position {
            font-size: 18px;
            text-align: center;

        }

        p.description {
            font-weight: 500;
        }
    }
}

.booking-off {
    max-width: 1100px;
    margin: auto;
    .slick-prev {
        left: -28px !important;
        background-color: transparent!important;
        background-size: 66% !important;
    }
    .slick-next {
        right: -28px !important;
        background-color: transparent!important;
        background-size: 66% !important;
    }
}

.booking {
    background: #0000000f;
    border-radius: 6rem;
    padding: 0 2rem;

    img.booking-img {
        width: 387px;
        margin: auto;
        padding: 3rem 0;
    }

    .review-name {
        font-size: 32px;
        line-height: 1.5;
        color: #58595b;
        font-weight: 700;
        padding-right: 0;
        position: relative;
        padding-left: 5rem;
    }

    .border-left {
        border-left: 1px dashed;
        padding-left: 7rem;
    }

    img.quotation-left,
    img.quotation-right {
        width: 40px;
        position: absolute;
        left: 0;
    }

    img.quotation-right {
        left: 146px;
        bottom: 14px;
        transform: rotate(180deg);
    }

}

.contact-details {
    max-width: 1200px;
    margin: auto;
    img.icon {
        width: 80px;
    }
    .link {
        font-size: 34px;
        font-weight: 700;
        color: var(--primary-bg);
    }   
} 

.contact-blogs{
    padding: 2rem 0;
    .blog-card {
        overflow: hidden;
        border-radius: 2rem;
        position: relative;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(43,41,41,.3882352941);
            position: absolute;
            left: 0;
        }
        img{
            height: 55px;

        }
    }
    h5 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        width: 100%;
        text-align: center;
    }
}

.other-enquiries{
    position: relative;
    .leftside-vector {
        position: absolute;
        top: -20px;
        left: -110px;
        width: 200px;
        transform: rotate(180deg);
    }
    .enquiry-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
        p{
            margin: 0;
        }
        .text-gray{
            font-weight: 700;
            font-size: 22px;
            color: #77797b;
        }
        img {
            width: 70px;
            margin: 1rem 0;
        }
        
    }
   
} 

.contact-us{
    h1{
        min-width: 450px;
        text-align: center;
        font-size: 45px;
        &::before {
            bottom: -3px;
        }
    }
    .instafeature{
        h2 {
            color: #3d4043;
            font-size: 45px;
            padding-top: 3rem;
            margin-bottom: 4rem;
            position: relative;
            width: -moz-fit-content;
            width: fit-content;
            min-width: 450px;
            text-align: center;
        }
        
        .leftside{
            justify-content: center;
            gap: 2rem;
            .centerside {
                display: none;
            }
        } 
    } 
    .info-detail{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
    }
}

@media(max-width:1024px) {
    .book-now {
        border-radius: 1.5rem;
    }
}

@media(max-width:990px) {
    .ss-search {
        .saltstayz-search-field {
            width: 100%;

            .saltstayz-datepicker {
                width: 100%;
                max-width: 100%;
            }
        }

        .saltstayz-book-now-btn,
        .saltstayz-flash-btn {
            width: 47.5%;
        }
    }

    .ss-city-slider,
    .ss-deals {

        img.trollybag,
        .rightside-vector {
            display: none;
        }
    }

    .text-content {
        .left-side {
            img.bottom-line {
                max-width: 300px;
            }
        }
    }

    .slick-prev,
    .slick-next {
        right: -25px !important;
    }

    .slick-prev {
        left: -25px !important;
    }

    .text-heading {
        img {
            max-width: 300px;
        }
    }

    .hotel-category {
        .category-div {
            justify-content: flex-start;
            margin: 0;
            flex-wrap: wrap;
        }

        .header-room {
            .primer-bg {
                span {
                    margin-top: -58px;
                }
            }
        }
    }

    .leftside-vector,
    .rightside-trolly {
        display: none;
    }

    .ss-footer {
        .leftside-footer {
            width: 100%;
            padding: 0 0 0;
        }
    }


    .ss-search-filters {
        .searchfilters {
            padding-left: 0;

            .filter-section {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                .checkbox {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                }

                h3 {
                    width: 100%;
                }

                .input-grp {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    min-width: 200px;
                }

                .form-check-label {
                    padding-bottom: 0;
                }

                .priceRange {
                    order: 1;
                }
            }
        }

        .search-filter-result {
            padding-top: 5rem;
        }
    }

    .day-use-room {
        .homeAmenities {
            margin-bottom: 2rem;
        }

        .header-div {
            .left-side {
                flex-wrap: wrap;
            }
        }
    }

    .amenites-div {
        .left-side {
            flex-wrap: wrap;

            img.bottom-line {
                max-width: 70% !important;
            }

            .view-btn {
                min-width: fit-content;
                padding: 10px 20px;
            }
        }
    }

    .header-div {
        ul {
            flex-wrap: wrap;

            li {
                width: 32%;
            }
        }
    }

    .availablity-div {
        padding-right: 0;
    }

    .location-detials {
        .position-relative {
            padding: 1rem 2rem;
            row-gap: 2rem;
        }
    }

    .reservation-div {
        margin-top: 4rem;
    }

    .blog {
        .row {
            margin-top: 0;
        }
    }

    .rightside-vector {
        display: none;
    }

    .testimonials {
        .left-side {
            img.bottom-line {
                max-width: 57% !important;
            }
        }
    }

    .desktop-img {
        display: none;
    }

    .contact-details{
        img.icon {
            width: 50px;
        }
    } 
}




@media (max-width: 767px) {
    .ss-header {
        padding: 15px 20px;

        .mobile-menu-icon {
            display: block;
            position: static;
            top: 15px;
            right: 20px;
        }

        .header-menu {
            position: fixed;
            top: 0;
            right: -100%;
            width: 250px;
            height: 100vh;
            background: #fff;
            transition: right 0.3s ease-in-out;
            box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
            padding: 20px 0;

            &.sidebar-open {
                right: 0;
                width: 80%;
                display: flex;
                flex-direction: column;
                gap: 0;
                justify-content: flex-start;
            }

            .close-btn {
                width: calc(100% - 88px);
                display: flex;
                justify-content: flex-end;
                padding-right: 0;

            }

            .main-menu {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                align-items: flex-start;
                justify-content: flex-start;

                .st-nav {
                    list-style: none;
                    padding: 0;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
                    align-items: flex-start;
                    width: 100%;

                    li {
                        margin-bottom: 0;

                        a {
                            padding: 3rem;
                            position: relative;
                            padding-bottom: 2rem;

                            &::after {
                                left: 5rem;
                            }
                        }
                    }
                }
            }

        }

        .ss-destination {
            ul.destination-nav {
                li {
                    width: 29%;
                }
            }
        }
    }

    .ss-footer {
        .rightside-footer {
            .luggage-icon {
                width: 250px;
                height: 250px;
                position: absolute;
                right: 0;
                bottom: 70px;
            }
        }

        .policy {
            flex-direction: row;
        }
    }

    .hotel-room-detail {
        .heading-sec {
            flex-wrap: wrap;
        }
    }

    .bookNow {
        .text-end {
            padding-right: 0;
        }
    }

    .hotel-room-gallery {
        .img-thumbnail {
            height: 78px;
            max-width: 100%;
            border: 0;
            border-radius: 2rem;
        }
    }

    .blog-header{
        .left-side {
            flex-wrap: wrap;
        }
    }
}



@media(max-width:576px) {
    .ss-search {
        .saltstayz-select {
            min-width: 100%;
        }

        .saltstayz-book-now-btn,
        .saltstayz-flash-btn {
            width: 100% !important;
            ;
        }

        .saltstayz-search-box {
            padding: 4rem 2rem;

        }
    }

    .slick-prev {
        width: 30px !important;
        height: 30px !important;
        left: 0 !important;
    }

    .slick-next {
        right: 0 !important;
        width: 30px !important;
        height: 30px !important;
        left: auto !important;
    }

    .ss-deals {
        .slick-slider {
            .deal-card {
                h5.card-title {
                    bottom: 16px;
                    max-width: 100%;
                }
            }
        }
    }

    .hotel-category {
        .header-room {
            .img-container {
                margin: 0;
            }
        }

        .category-div {
            .amenity-card {
                width: 105px;
                margin: 5px;
            }
        }
    }

    .instafeature {

        .leftside,
        .rightside,
        .centerside {
            padding: 0;

            a {
                width: 100%;
            }
        }
    }

    .ss-search-filters {
        .searchfilters {
            .filter-section {
                .input-grp {
                    min-width: 192px;
                }
            }

            h2 {
                text-align: center !important;
            }
        }
    }

    .day-use-room {
        .header-div {
            ul {
                flex-wrap: wrap;
                justify-content: flex-start;
            }
        }

        .text-content {
            .left-side {
                flex-wrap: wrap;
            }
        }

        .homeAmenities {
            ul {
                flex-wrap: wrap;

                li {
                    width: 45%;
                    width: 45%;
                    gap: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }
            }
        }

        .hotel-room-cards {
            .hotel-card {
                .row {
                    margin: 0;

                    .pe-0 {
                        padding: 0;
                    }
                }

                .gallery-img {
                    img {
                        width: 100%;
                    }
                }

                .center-div {
                    padding: 2rem;
                }

            }
        }

        .check-in {
            h2 {
                width: 100%;
            }
        }
    }

    .header-div {
        ul {
            li {
                width: 48%;
            }
        }
    }

    .amenites-div {
        .left-side {
            img.bottom-line {
                max-width: 50% !important;
            }
        }
    }

    .summary-div {
        .outline-div {
            padding-bottom: 1rem;
            flex-wrap: wrap;
        }
    }

    .heading-top {
        gap: 1rem;
        flex-wrap: wrap;
    }

    .review-card {
        min-height: fit-content;
    }

    .map {
        margin-bottom: 1rem;
    }

    .indiagate {
        margin-bottom: 1rem;
    }

    .blog {
        .row {

            .col-md-4:nth-child(2),
            .col-md-4 {
                padding-top: 2rem !important;
            }
        }
    }


    .booking {
        .border-left {
            padding-left: 0;
            border: 0;
            padding: 1rem 0;
        }

        img.quotation-right {
            left: auto;
            right: 0;
        }
    }

    .tesimonials {
        .testimonials {
            padding-bottom: 3rem;
        }
    }

    .contact-us{
        section.instafeature {
            padding: 2rem 0;
            h2 {
                min-width: fit-content;
                text-align: left;
            }
        }
        h1 {
            min-width: fit-content;
            text-align: left;
        }
        .contact-details{
            .link {
                font-size: 27px;
            }
        }
        .guest-div {
            padding-left: 0;
        } 
    } 
}